<h1>Add Languages</h1>

<h3>Language List</h3>


<% if @language_save %>
    <% @language_save.each do |language| %>
        <div>
            <p><%= language.name %> : <%= language.level %></p>
        </div>
    <% end %>
<% end %>

<%= form_with model: @language do |f| %>
    <div class="row">
        <div class="col">
            <%= f.label :name, "name", class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="col">
            <%= f.label :level, "level", class: "form-label" %>
            <%= f.select :level, ["beginner", "intermediate","expert"], {}, selected: nil, class: "form-select" %>
        </div>
    </div>

    <div class="text-center">
        <%= f.submit 'Submit', class: "btn btn-primary" %>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to "Back", :back, class: 'btn btn-secondary', type: "button" %>
        <%= link_to "Pass", preview_path, class: 'btn btn-success', type: "button" %>
    </div>
<% end %>