<h1>Add Languages</h1>

<h3>Language List</h3>


<% if @language_save %>
    <% @language_save.each do |language| %>
        <div>
            <p><%= language.name %> : <%= language.level %></p>
        </div>
    <% end %>
<% end %>

<%= form_with model: @language do |f| %>
    <div>
        <%= f.label :name, "name" %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :level, "level" %>
        <%= f.select :level, ["beginner", "intermediate","expert"], selected: nil %>
    </div>

    <div>
        <%= f.submit "Submit" %>
        <%= link_to "Pass", preview_path %>
        <%= link_to "Back", :back %>
    </div>
<% end %>