<h1>Add Experiences</h1>

<h3>Experience List</h3>

<% if @experience_save %>
    <% @experience_save.each do |experience| %>
        <div>
            <h4><%= experience.title %></h4>
            <p><%= experience.location %></p>
            <p><%= experience.begin_date %> - <%= experience.end_date %></p>
            <p><%= experience.body %></p>
        </div>
    <% end %>
<% end %>

<%= form_with model: @experience do |f| %>
    <div>
        <%= f.label :title, "title" %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :begin_date, "begin_date" %>
        <%= f.date_field :begin_date %>
    </div>

    <div>
        <%= f.label :end_date, "end_date" %>
        <%= f.date_field :end_date %>
    </div>

    <div>
        <%= f.label :location, "location" %>
        <%= f.text_field :location %>
    </div>

    <div>
        <%= f.label :body, "description" %>
        <%= f.text_area :body %>
    </div>

    <div>
        <%= f.submit "Submit" %>
        <%= link_to "Pass", new_education_path %>
        <%= link_to "Back", :back %>
    </div>
<% end %>