<h1>Add Educations</h1>

<h3>Education list</h3>

<% if @education_save %>
    <% @education_save.each do |education| %>
        <div>
            <h4><%= education.title %></h4>
            <p><%= education.location %></p>
            <p><%= education.begin_date %> - <%= education.end_date %></p>
            <p><%= education.body %></p>
        </div>
    <% end %>
<% end %>

<%= form_with model: @education  do |f| %>
    <div class="mb-3">
        <%= f.label :title, "school", class: "form-label" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="row g-3">
        <div class="col-sm-6">
            <%= f.label :begin_date, "begin_date", class: "form-label" %>
            <%= f.date_field :begin_date, class: "form-control" %>
        </div>

        <div class="col-sm-6">
            <%= f.label :end_date, "end_date", class: "form-label" %>
            <%= f.date_field :end_date, class: "form-control" %>
        </div>
    </div>

    <div class="mb-3">
        <%= f.label :location, "location", class: "form-label" %>
        <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= f.label :body, "description", class: "form-label" %>
        <%= f.text_area :body, class: "form-control" %>
    </div>

    <div class="text-center">
        <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to "Back", :back, class: 'btn btn-secondary', type: "button" %>
        <%= link_to "Pass", new_language_path, class: 'btn btn-success', type: "button" %>
    </div>

<% end %>
